html {
  height: 100%;
}

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

p {
  margin-top: 0.5em;
}

a {
  text-decoration: none;
  color: #948aec;
}

a:hover {
  text-decoration: underline;
  color: #7265e6;
}

.vc-p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slo {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ttc {
  text-transform: capitalize;
}

.dn {
  display: none;
}
